* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}
.vid_container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vid-panel {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 85%;
}

.filters-cont {
  min-width: 200px;
  max-width: 230px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 3px;
  border-radius: 15px;
  row-gap: 4px;
}

.filters-title {
  color: rgb(247, 148, 148);
  font-size: 20px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px;
}

.filter-box {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.filter-box::-webkit-scrollbar {
  display: none;
}
.filter {
  width: 100%;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;
}

.filter-video {
  width: 100%;

  border-radius: 8px;
  height: 100px;
  box-shadow: inset;
  object-fit: cover;
}
.selected {
  border-color: blue;
}

.filter-1 {
  filter: none;
}
.filter-2 {
  filter: grayscale(100%);
}
.filter-3 {
  filter: sepia(100%);
}
.filter-4 {
  filter: invert(100%);
}
.filter-5 {
  filter: brightness(150%);
}
.filter-6 {
  filter: contrast(200%);
}
.filter-7 {
  filter: saturate(200%);
}
.filter-8 {
  filter: hue-rotate(90deg);
}
.filter-9 {
  filter: blur(3px);
}
.filter-10 {
  filter: opacity(50%);
}
.filter-11 {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.filter-name {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(236, 226, 226);
  font-size: 14px;
  font-weight: 500;
}

.video-cont {
  height: 100%;
  width: calc(100% - 210px);
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 3px;
  background-color: transparent;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.recorder-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 3px;
}

.actions-cont {
  display: flex;

  width: 9rem;
  height: 3rem;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 40px;
  padding: 4px;
}

.record-cont {
  border-radius: 50%;
  animation: fill-border 60s linear forwards;
  border: 2px solid white;
  height: 2.25rem;
  width: 2.25rem;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.capture-cont {
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  height: 2.25rem;
  width: 2.25rem;
  border-style: solid;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.record-btn {
  background-color: rgb(245, 32, 32);
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
}

.recording-btn {
  background-color: rgb(245, 32, 32);
  border-radius: 20%;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}

.capture-btn {
  background-color: whitesmoke;
  border-radius: 50%;
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
}

.scale-record {
  animation-name: scale-record;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes scale-record {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.scale-capture {
  animation-name: scale-capture;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes scale-capture {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
.timer-cont {
  height: 22px;
}
.timer {
  color: rgb(236, 226, 226);
  font-size: 20px;
  font-weight: 500;
  display: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
